<!doctype html>
<html class="no-js">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title ng-bind="pageTitle"></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--<link rel="stylesheet" href="css/vendors.css">-->
  <link rel="stylesheet" href="css/main.css">
</head>

<body ng-controller="MainCtrl">

  <noscript>
    <div class="deprecation-warning">
      <h1>Please enable Javascript</h1>
      <p>Demo requires your browser to have Javascript enabled.
        <a href="http://enable-javascript.com" target="_blank">Learn more</a></p>
    </div>
  </noscript>

  <!-- Верхняя панель-->
  <md-toolbar class="app-toolbar md-whiteframe-z2 fix-top">
    <div class="md-toolbar-tools" tabindex="0">
      <md-button class="menu-icon normal-btn" ng-click="toggleRight()" aria-label="Toggle Menu">
        <!--<md-tooltip>-->
          <!--Меню-->
        <!--</md-tooltip>-->
        <i class="fa fa-bars"></i>
      </md-button>
      Список сайтов
    </div>
  </md-toolbar>

  <!--Сюда будут вставляться views-->
  <div style="padding-top: 80px;" flex ui-view></div>

  <!-- Боковая панель -->
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <div ng-controller="LeftCtrl" ng-click="close()">
      <md-toolbar>
        <h1 class="md-toolbar-tools">Меню</h1>
      </md-toolbar>
      <md-content>
        <a class="menu-item menu-sub-item md-menu-item"
           ng-click="menu.toggleSelectPage(page)"
           ng-repeat="page in menu.pages"
           ng-href="{{page.url}}"
           md-highlight="menu.isPageSelected(page)"
           md-ink-ripple="#bbb">
          <span> {{page.discription}} </span>
        </a>
      </md-content>
    </div>
  </md-sidenav>


  <!-- build:dev -->
  <script src="../system.js"></script>
  <script src="../system.config.js"></script>
  <!-- endbuild -->

  <!-- build:prod -->
  <!-- <script src="dist/app/app.js?bust={{date}}"></script> -->
  <!-- endbuild -->

  <script>
    System.import('modules/core/main');
  </script>
</body>

</html>