<div ng-controller="SitesCtrl" layout-fill>

  <!-- Панель появляющаяся при выделении задачи -->
  <md-toolbar ng-show="oneSelected" md-theme="cyan"
              class="md-accent app-toolbar md-cyan-theme md-whiteframe-z2 fix-top">
    <h1 class="md-toolbar-tools">
      <md-button class=" md-accent nornal-round-btn" aria-label="Назад" ng-click="deselectAll()">
        <md-tooltip>
          Назад
        </md-tooltip>
        <md-icon icon="img/icons/ic_close_24px.svg">
        </md-icon>
      </md-button>
      <span> Выбранно элементов: {{countSelected}}</span>

      <div flex></div>
      <md-button ng-click="archiveAll()" class="md-accent nornal-round-btn" aria-label="В архив">
        <md-tooltip>
          В архив
        </md-tooltip>
        <md-icon icon="img/icons/ic_done_all_24px.svg">
        </md-icon>
      </md-button>
    </h1>
  </md-toolbar>

  <md-content class="list-cont">

    <md-list>
      <md-list-item class="md-3-line" ng-repeat="item in vm.sites">
        <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />-->
        <!--<md-whiteframe class="md-whiteframe-z2 md-3-line">-->
        <div class="md-list-item-text" layout="column">
          <h3>who {{ item.who }}</h3>
          <h4>what {{ item.what }}</h4>

          <p>notes huentis pizdantes{{ item.notes }}</p>
          <p>notes huentis pizdantes{{ item.notes }}</p>
        </div>

        <div class="list-check-area" ng-mouseenter="showItem(item)" ng-mouseleave="hideItem(item)">
          <div class="left-box active-checkbox">
            <md-checkbox class="list-cb"
                         ng-change="oneCheck(item)" ng-model="item.check">
            </md-checkbox>
          </div>
        </div>

        <md-divider ng-if="!$last"></md-divider>

        <!--</md-whiteframe>-->
      </md-list-item>
    </md-list>


  </md-content>

  <!-- Плавающая конопка добавления -->
  <div class="float-btn">
    <md-button class="md-primary md-fab" md-theme="red" aria-label="Добавить" ng-click="vm.addSite()">
      <md-tooltip>
        Добавить
      </md-tooltip>
      <i class="fa fa-plus"></i>
    </md-button>

  </div>
</div>
